@import url('fonts.css');

:root{
    --fuente-principal: 'Raleway', sans-serif;
    --fuente-titulos: 'Montserrat', sans-serif;
    --fuente-botones: 'Poppins', sans-serif;
    --color-azul: #2A7AE4;
    --color-azul-cielo: #00acee;
    --color-blanco: white;
    --color-busqueda: #E7E7E7;
    --color-negro: #363636;
    --color-gris: gray;
    --color-fondo-claro: #F9F9F9;
    --color-fondo-oscuro: #322C99;
    --color-fondo-footer:#3927B8 ;
    --color-mensaje-completado: #5DADE2;
    --color-warning: #ff0f0f;
    --color-check: #17CF16;
    --espaciado-lados: 0 5rem;
    --espaciado-lados-t: 0 4rem;
    --espaciado-lados-ac: 0 3rem;
    --espaciado-lados-c: 0 1.5rem;

}