@import url('../reset.css');
@import url('../variables.css');
@import url('../header.css');
@import url('../footer.css');
@import url("../scrollStyle.css");

html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--fuente-principal);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke; 
    color: var(--color-negro);
}
section.seccion-productos{
    display: flex;
    flex-direction: column;
    margin: var(--espaciado-lados);
    flex-grow: 1;
}
.productos{
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    gap: 2rem;
}
.productos--titulo-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fuente-titulos);
}
.productos--titulo-btn > h2{
    font-size: 1.5rem;
    font-weight: bold;
}
.btn-agregar-producto{
    display: flex;
    align-items: center;
    background-color: var(--color-azul);
    color: var(--color-blanco);
    padding: 1rem;
    border: 1px solid var(--color-azul-cielo);
    text-align: center;
    text-decoration: none;
    transition: .3s ease;
    font-family: var(--fuente-botones);
}
.btn-agregar-producto:hover{
    background-color: var(--color-blanco);
    color: var(--color-azul);
    cursor: pointer;
}
.icon-btn-add{
    display: none;
    color: var(--color-blanco);
}
.productos-listado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.producto-listado_item{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 1rem;
    transition: .5s;
}
.producto-img-mod{
    display: flex;
    flex-direction: column;
    position: relative;
}
.producto-img-mod > img{
    width: 176px;
    height: 174px;
}
.producto-img-mod > .mod{
    position: absolute;
    top: .5rem;
    right: .5rem;
}
.mod > button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
.borrar{
    background-color: var(--color-blanco);
    color: var(--color-warning);
    opacity: .7;
    border-radius: 50%;
}
.editar{
    background-color: var(--color-blanco);
    color: var(--color-fondo-oscuro);
    opacity: .7;
    border-radius: 50%;
}
.info-items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    transition: .5s;
}
.info-items_nombre{
    font-weight: 500;
}
.info-items_precio{
    font-weight: bold;
}
.info-items_categoria{
    font-style: italic;
}
.no-encontrado {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    font-size: 2rem;
}
.producto-listado_item:hover{
    transform: scale(105%);
    transition: .5s;
    box-shadow: 10px 10px 30px #bebebe, -10px -10px 30px #ffffff;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .seccion-productos{
        margin: var(--espaciado-lados-t) !important;
    }
}
@media screen and (min-width: 480px) and (max-width: 700px) {
    .seccion-productos{
        margin: var(--espaciado-lados-t) !important;
    }
    .productos-listado{
        gap: 0.313rem;
    }
    .producto-img-mod > img{
        width: calc(176px - 3px);
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .seccion-productos{
        margin: var(--espaciado-lados-ac) !important;
    }
    .productos--titulo-btn {
        justify-content: space-around;
    }
    .btn-agregar-producto {
        padding: .3rem;
        border-radius: 50%;
    }
    .texto-agregar{
        display: none;
    }
    .icon-btn-add{
        display: block;
    }
    .productos-listado{
        gap: 1rem;
        width: 100%;
    }
    .producto-listado_item {
        width: 100%;
        text-align: center;
    }
    .producto-img-mod > img{
        width: 100%;
    }
}
@media screen and (max-width: 399px) {
    .seccion-productos{
        margin: var(--espaciado-lados-c) !important;
    }
    .productos--titulo{
        justify-content: center;
    }
    .productos--titulo > h2{
        text-align: center;
    }
}
@media screen and (min-width: 0px) and (max-width: 320px) {
    .seccion-productos{
        margin: var(--espaciado-lados-c) !important;
    }
    .productos--titulo-btn {
        justify-content: space-around;
    }
    .btn-agregar-producto {
        padding: .3rem;
        border-radius: 50%;
    }
    .texto-agregar{
        display: none;
    }
    .icon-btn-add{
        display: block;
    }
    .productos--titulo{
        justify-content: center;
    }
    .productos--titulo > h2{
        text-align: center;
    }
    .productos-listado{
        gap: 1rem;
        width: 100%;
    }
    .producto-listado_item {
        width: 100%;
        text-align: center;
    }
    .producto-img-mod > img{
        width: 100%;
    }
}