@import url('../reset.css');
@import url('../variables.css');
@import url('../header.css');
@import url('../footer.css');
@import url("../scrollStyle.css");


html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--fuente-principal);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke; 
    color: var(--color-negro);
}

.error, .correcto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--espaciado-lados);
    height: 500px;
    flex-grow: 1;
}
.error_box, .correcto_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 720px;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 3px 2px 10px 3px rgba(0, 0, 0, 0.1);
}
.error-icon {
    width: 6.25rem;
    font-size: 6.25rem;
    color: var(--color-warning);
}
.check-icon{
    width: 6.25rem;
    font-size: 6.25rem;
    color: green;
}
.titulo-error{
    font-size: 2rem;
    width: 20rem;
}
.titulo-registrado{
    font-size: 2rem;
    width: 20rem;
    text-align: center;
}
.boton-error {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    width: 100%;
    max-width: 20rem;
    padding: 1.125rem;
    font-size: 1.438rem;
    text-align: center;
    text-decoration: none;
    border-radius: 7px;
    box-sizing: border-box;
}
@media screen and (min-width: 0px) and (max-width: 770px) {
    .error{
        margin: var(--espaciado-lados-c);
    }
    .error_box{
        width: 100%;
        padding: 0;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    }
}
